body {
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei";
	font-size: 20px;
}

.box-wrap {
	width: 1280px;
	margin: 50px auto;
	justify-content: space-around;
}

.label {
	font-weight: 600;
	margin-right: 30px;
}

.verify {
	margin-left: -40px;
}

.input {
	outline: none;
	width: 400px;
	height: 45px;
	padding-left: 10px;
	font-size: 20px;
	border: 2px solid #b38e95;
	border-radius: 6px;
}

.input:focus {
	border: 2px solid #9ea7bb;
}

#btn {
	outline: none;
	width: 120px;
	height: 50px;
	margin-top: 15px;
	margin-left: 370px;
	font-family: "microsoft yahei";
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	color: #fff;
	background-color: #2e70b0;
	border: 2px solid #2e70b0;
	border-radius: 6px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}

#btn:hover {
	color: #fff;
	background-color: #f00;
	border: 2px solid #fff;	
}

.red-border {
	border-color: #f00;
}

.green-border {
	border-color: #0f0;
}

.alert {
	color: #bec3cb;
	font-size: 16px;
	margin-top: 6px;
	padding-left: 80px;
}

.input:focus+.alert {
	color: #bec3cb;
}

.red-font {
	color: #f00;
}

.green-font {
	color: #90ee90;
}
